<section class="section_background">
  <div class="about__container container" id="about">
    <div class="heading">
      <p class="secondary__h">tradition and love</p>
      <h2 class="main__h">how it’s made?</h2>
    </div>
    <div class="section_block">
      <picture>
        <source
          srcset="
            ./images/how-its-made/cow.png    1x,
            ./images/how-its-made/cow_2x.png 2x
          "
          media="(min-width: 1280px)"
          width="1280"
        />

        <!-- <img class="photo" src="./images/cow.png" alt="разные виды мороженного"> -->

        <source
          srcset="
            ./images/how-its-made/cow-tablet.png    1x,
            ./images/how-its-made/cow-tablet_2x.png 2x
          "
          media="(min-width: 768px)"
          width="768"
        />

        <!-- <img class="photo" src="./images/cow-tablet.png" alt="разные виды мороженного"> -->

        <source
          srcset="
            ./images/how-its-made/cow-phone.png    1x,
            ./images/how-its-made/cow-phone_2x.png 2x
          "
          media="(max-width: 767.5px)"
          width="320"
        />

        <img
          class="photo"
          src="./images/how-its-made/cow-phone.png"
          alt="разные виды мороженного"
        />
      </picture>

      <div class="section_p">
        <ul class="section_text list">
          <li>
            <p class="section_text-main">
              Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
              justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
              erat at justo fringilla.
            </p>
          </li>
          <li>
            <p class="section_text-secondary">
              Curabitur lacinia enim at ex blandit, vel pellentesque odio
              elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
              euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
              Cras massa nibh, tincidunt.
            </p>
          </li>
          <li>
            <p class="section_text-secondary">
              Aliquam erat volutpat. Aenean accumsan.
            </p>
          </li>
        </ul>
        <button type="button" class="section_button">Read more ></button>
      </div>
    </div>
  </div>
</section>

<section class="advantages__section">
  <h2 class="hidden">Advantages</h2>
  <div class="advantages__container container">
    <ul class="section_list list">
      <li class="list-item">
        <img class="list-icon" src="./images/how-its-made/icon1.png" alt="" />
        <h3 class="advantages_h">721</h3>
        <p class="advantages_p">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="list-item">
        <img class="list-icon" src="./images/how-its-made/icon2.png" alt="" />
        <h3 class="advantages_h">16kg</h3>
        <p class="advantages_p">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="list-item">
        <img class="list-icon" src="./images/how-its-made/icon3.png" alt="" />
        <h3 class="advantages_h">84</h3>
        <p class="advantages_p last">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
