<section class="customer-review">
  <div class="customer-review__container container">
    <h2 class="customer-review__title visually-hidden">Customers reviews</h2>

    <div class="slider middle">
      <div class="slides">
        <input type="radio" name="r" id="r1" checked />
        <input type="radio" name="r" id="r2" checked />
        <input type="radio" name="r" id="r3" checked />

        <div class="slide s1">
          <img
            src="images/testimonials/testimonials.jpg"
            srcset="
              images/testimonials/testimonials.jpg    1x,
              images/testimonials/testimonials@2x.jpg 2x
            "
            alt="девушка"
            class="customer-review__picture"
            width="85"
          />

          <div class="customer-review__wrapper">
            <p class="customer-review__data">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
            <div class="customer-review__gradient"></div>
          </div>

          <div class="dots"></div>

          <div class="customer-review__reviewer-wrapper">
            <p class="customer-review__reviewer-details">Emily, Los Angeles</p>
            <!-- <div class="reviewer-links"></div> -->
          </div>
        </div>

        <div class="slide s2">
          <img
            src="images/testimonials/testimonials2.jpg"
            srcset="
              images/testimonials/testimonials2.jpg    1x,
              images/testimonials/testimonials2@2x.jpg 2x
            "
            alt="девушка"
            class="customer-review__picture"
            width="85"
          />

          <div class="customer-review__wrapper">
            <p class="customer-review__data">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
            <div class="customer-review__gradient"></div>
          </div>

          <div class="dots"></div>

          <div class="customer-review__reviewer-wrapper">
            <p class="customer-review__reviewer-details">Jessica, New York</p>
            <!-- <div class="reviewer-links"></div> -->
          </div>
        </div>

        <div class="slide s3">
          <img
            src="images/testimonials/testimonials3.jpg"
            srcset="
              images/testimonials/testimonials3.jpg    1x,
              images/testimonials/testimonials3@2x.jpg 2x
            "
            alt="девушка"
            class="customer-review__picture"
            width="85"
          />

          <div class="customer-review__wrapper">
            <p class="customer-review__data">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
            <div class="customer-review__gradient"></div>
          </div>

          <div class="dots"></div>

          <div class="customer-review__reviewer-wrapper">
            <p class="customer-review__reviewer-details">Jane, Miamy</p>
            <!-- <div class="reviewer-links"></div> -->
          </div>
        </div>
      </div>

      <div class="navigation">
        <label for="r1" class="bar"></label>
        <label for="r2" class="bar"></label>
        <label for="r3" class="bar"></label>
      </div>
    </div>
  </div>
</section>
