.gallery {
  background-image: linear-gradient(to bottom, $add-bg-color 40%, #ffffff 40%);
}

.gallery__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;

  width: 100%;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }

  // outline: 1px solid red;
}

.gallery__img {
  display: block;
  width: 100%;
  // opacity: 0.5;
}
